/StartingProject/EmployeesApp/EmployeesApp/obj
/StartingProject/EmployeesApp/EmployeesApp/bin
/StartingProject/EmployeesApp/.vs
/StartingProject/EmployeesApp/EmployeesApp.Tests/obj
/StartingProject/EmployeesApp/EmployeesApp.Tests/bin
